@import '../../styles/variables';

.chart{
  width: 48%;
  min-width: 350px;
  display: inline-block;
  margin: 1%;
}

.highChart{
  border: 0.5px solid $shadow;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px $shadow;
  padding: 2px;
  background: $white;
}
