//Colors
$black: #000;
$white: #fff;
$backgroundLightGray: #F9F9F9;
$shadow: #EAEAEA;
$lightGray: #C6C6C6;
$darkGray: #757575;
$red: #F94545;
$blue: #18ABFF;
$mediumText: 14px;
$largeText: 18px;
$dignisiaBlue: #B8DBFF;
$dignisiaRed: #F19C9D;
$dignisiaPruple: #48234c;
