@import '../../styles/variables';

.headerPrimary{
  color: $dignisiaPruple;
  background-color: $dignisiaBlue;
}

.headerSecondary{
  color: $black;
  background-color: $dignisiaBlue;
}

.headerText{
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.headerButton{
  display: inline-block;
}
