@import '../../styles/variables';

.headerPrimary{
  color: $dignisiaPruple;
  background-color: $dignisiaRed;
  padding: 10px;
}

.headerSecondary{
  color: $black;
  background-color: $dignisiaRed;
}

.headerText{
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.headerButton{
  display: inline-block;
}
